// @file
// Custom sass 
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

//test CSS
  
  
 //Attempt to center footer text 
//  #copyright {
//    width: 100%;
//    margin-left: auto ;
//    margin-right: auto ;
//    background-color: #ABCDEF;
//}
//#copyright ul {
//    list-style-type: none; /*to remove bullets*/
//    text-align: center;
//    padding: 0px;
//    zoom:1;
//    border:1px solid red;
//    overflow: hidden;
//}


//#copyright li{
//    padding: 2px;
//    width: 150px;
//    display:inline-block;
//}
	
$default-text-color: black;
$link-color: #0073A3;
$iv-blue: #0073a3;
$iv-grey: #858c8c;
$shadow-grey: rgba(119,119, 119, 0.75);
	
.amp-logo {
	display: none;
}

.azuremediaplayer {
  background-color: white;
}
.vjs-control-bar {
	display: none;
}
        
.views-field.views-field-field-profile-picture img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.views-field.views-field-field-profile-picture img:hover {
	-webkit-filter: none;
	filter: none;
}
section {
	margin-bottom: 20px;
}

//h tag specifics and overrides
h2 {
	font-size: 18px;
	text-transform: uppercase;
}
.banner-text h2 {
	text-transform: none;
}
.nav2-icon h3 {
	font-style: normal;
}
.nav-item h2 {
	margin: 0px;
}
h2 h3 {
	margin-top: 0px;
	font-size: 18px;
}

h4 {
	font-size: 16px;
}
h5 {
	font-size: 18px;
	line-height: 1em;
	margin-top: 20px;
	margin-bottom: 0px;
	text-transform: uppercase;
}



a {
	text-decoration: none;
	color: $link-color;
	text-transform: uppercase;
}
	a:hover {
		color: black;
	}
	
	p {
		margin: 0px;
	}
	
	.hidden {
		display: none;
	}
	
	.field-name-field-publications-image-teaser .field-item img {
    box-shadow: 3px 2px 10px 0px $shadow-grey;
	}
	// Shadow images
	// 5/15/2016: Too General... scope the targets!
	.malaria-publication-thumbnail > img,
	.field-content img,
	.field-items img {
		box-shadow: 3px 2px 10px 0px rgba(119, 119, 119, 0.75);
	}
	.image-left {
		float: left;
		margin-right: 1em;
	}


// General CSS
  .wrapper, .region-navigation {
    display: inline-block;
	text-align: center;
  }
  
  // Parent to wrapper
  // The text-align property only works on inline elements. Wrapper contains inline-block property
  .center-content {
		text-align:center;
  }
	.form-item {
		margin: 0px;
	}
	
	.figure-block {
    background-color: #DEDCDC;
    padding: 5px;
	}
    
    .no-bullet {
        list-style-type: none;  
        margin: 0px;
        padding-left: 5px;
    }
  
  

// Header
  header {
		padding-top:10px;
		width: 100%;
  }
	
	
  #logo {
		padding-left: 10px;
		width: 50%;
  }
	
  //Main Nav
	#block-block-57 {
    float: left;
		padding-right:20px;
	}
	#block-superfish-1 {
		float: left;
		margin-top: 15px;
  }
	
	#idm-logo h2 {
			font-size: 35px;
			color: #0073a3;
			margin-top: 4px;
			font-weight: 400;
	}
	
	
	#idm-logo-mobile  h2 {
		margin: 0px;
		color: $iv-blue;
		font-weight: 400;
	}
	
	#idm-logo h2:hover {
		color: black;
	}
	
	#idm-logo-mobile h2:hover {
		color: black;
	}
	
  #main-nav-mobile {
	  display: none;
  }


  
  #superfish-1 > li {
		background-color: none;
		margin: 2px;
		text-align: center;
		width: 142px;  /*NOTE: this controls the overall width of the div as well*/
  }
	
	.sf-menu.sf-style-blue ul {
    padding-left: 0px;
    padding-top: 12px;
}
	
  .menu a {
	  color: grey;
  }
  
  #secondary-menu,
	#mobile-nav-menu {
	  bottom: 10px;
	  height: 40px;
		float: right;
  }
	#idm-logo-mobile {
    float: left;
		margin-left:30px;
	}

	
	
	
	//Third level menu
	.sf-menu.sf-style-blue li li li {
    background: #2F3032;
	}

  

//Banner (all pages)

	.banner-stripe {
		background-color: $iv-blue;
		width: 100%;
		height: 60px
	}
	.blue_banner_stripe {
		margin-bottom: 0px;
	}


  
//FP 1  (Carousel)
  .container { 
	  width: 100%; /* Can be any desired width */
  }
	
  .container .outer .inner {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  .inner {
		background-size: cover; /* make sure the background image always fits and isn't clipped */
  }
	
// FP 2 Nav icons
  .fp-nav-row {
    width: 170px;
    height: 300px;
    float: none;
    margin: 0 auto;
		padding: 0 5px 0 5px;
    overflow: hidden;
    display: inline-block;
		text-align: center;
		vertical-align: top;
  }
	
  .nav2-icon {
		margin: 0 auto;
		height: 72px;
		width: 72px;
  }
	
	#nav2-research a:hover {
		color: black;
	}
	
	//Publications
	
	#page-title {
		margin-bottom: 5px;
	}
	#publications-title h2 {
    line-height: 1.2em;
	}
	.pub-title h2 {
		line-height: 1.5em;
		margin: .5em 0em 0em 0em;
	}
	.field-name-field-publications-topic {
		float: left;
		padding-right: .5em;
	}
	
	.field-name-publications-external-link {
		border-left: thin solid #808080;
		border-right: thin solid #808080;
    float: left;
		padding-left: .5em;
		padding-right: .5em;
		a {
			text-transform: none;
		}
	}

	.field-name-field-publications-date {
    float: left;
		padding-left: .5em;
	}
	
	.pub-title {
    clear: left;
	}
	.pub-title h3 {
    margin-bottom: 10px;
	}
	#publication-authors {
    font-size: 14px;
	}	
	
	.label-inline.pub-abstract {
    margin: 0px 0px 0px 0px;
	}
	
//News & Events

	.field-name-field-news-type {
		float: left;
		margin-right: 10px;
	}
	.field-name-field-news-date {
		border-left: thin solid #808080;
    float: left;
		padding-left: 10px;
	}
	.news-item-title {
		clear: left;
	}

	.view-news-and-events .views-row {
			border-bottom: thin solid #808080;
			margin: 10px 0px 25px;
	}
	.views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
    border-bottom: none;
	}

	.views-field.views-field-field-news-type {
		float: left;
		margin-right: 20px;
	}
	.views-field.views-field-field-news-date {
		border-left: thin solid #808080;
    float: left;
    font-style: italic;
    margin: 0px 10px 0px 0px;
    padding-left: 10px;
	}
	.views-field.views-field-title-field {
    clear: left;
	}
	
//End News & Events	
	
	// Footer
	
	ul#copyright-list {
		text-align: center;
	}
	
	ul#copyright-list li {
		display:inline-block;
		float: none;
	}	
	
	ul.copyright-list {
		text-align: center;
		margin: 0px;
		line-height: 15px;
	}
	
	ul.copyright-list li {
		display:inline-block;
		float: none;
	}
	.copyright {
    margin-bottom: 10px;
	}
	// FontAwesome CSS...
	
	a.read-more:after {
		font-family: FontAwesome;
		content: "\f08e";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}

	a.views-more-link:after {
		font-family: FontAwesome;
		content: "\f08e";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}


	a.home-link:after {
		font-family: FontAwesome;
		content: "\f015";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}
	
	a.git-link:after {
		font-family: FontAwesome;
		content: "\f09b";
		display: inline-block;
		padding-bottom: 3px;
		padding-left: 5px;
		vertical-align: middle;
	}
	
	// Research Front page (RLP)
		
	.rlp-nav-row {
		width: 300px;
		height: 150px;
		float: none;
		margin: 0 auto;
		padding: 0 5px 0 5px;
		overflow: hidden;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}
	
	.rlp-nav-row {
		margin-top: 20px;
	}

	.rlp_button_content {
		color: white;
		font-size: 24px;
		margin-top:70px;
		text-transform: none;
	}
	
	.plain-para {
		text-transform: none;
		color: $default-text-color;
	}

//End Panel / Feature Code
  
  
// Publications
	.block-idmteam > .page-content {
		border-top: thin solid;
	}
	.author-list ul {
		display: inline;
		list-style-type: none;
		padding: 0px;
	}
	.author-list li {
    float: left;
    padding: 0px 10px 0px 0px;
	}
/**
 * Code for RLP
 */
//	.team-member-profile-list {
//    float: left;
//    margin-left: 10px;
//    background-color: aliceblue;
//	}
    

	.box-section_wrapper {
		width: 960px;
		height: 100px;
	}
		
	#hidden {
		display: none;
	}
	
	.research-math-item-title {
		margin: 1em 0 1em 0;
	}

	
// END RLP Code

// Software page

	.two-column-2-item-title {
		margin-bottom: 0px;
	}

// End Software page

// 2nd level pages misc
	.sidebar-item img {
		margin-top: 5px;
	}



// Footer
	#footer {
		clear: both;
	}

	div#footer-full {
		margin-top: 20px;
	}
	div#footer-tablet {
    margin-top: 20px;
	}
	#footer-header img {
    margin-top: 20px;
	}
	.footer-wrapper {
		background-color: $iv-blue;
		//width: 100%;
	}
	.footer-wrapper a {
		color: #CDCECF;
	}
	
	.footer-wrapper a:hover {
		color: white;
	}
	
	.footer-block {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	}
	
	.footer-block>ul {
		float: left;
		list-style: none;
		padding: 0px 0px 0px 45px;
	}
	
	div#footer-header>p {
    padding-top: 10px;
	}
	
	#copyright {
    clear: left;
    color: white;
    font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	#copyright-mobile {
		background-color: #0073a3;
		clear: left;
		color: white;
		font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	#copyright-mobile-content {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	
	#copyright-mobile-content ul {
		text-align: center;
		display: block;
		margin: auto;
		width: 50%;
	}

	.accordion-content ul {
			list-style: none;
	}

	
// End Footer
