// @file
// Custom sass 
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

  //test CSS
	
	$default-text-color: black;
	$link-color: #0073A3;
	$iv-blue: #0073a3;
	$iv-grey: #858c8c;
	

  h3 {
		margin-top: 0px;
  }
  a {
		text-decoration: none;
		color: $link-color;
		text-transform: uppercase;
  }
	a:hover {
		color: black;
	}
	
	p {
		margin: 0px;
	}
	
	.hidden {
		display: none;
	}


// General CSS
  .wrapper, .region-navigation {
		display: inline-block;
		text-align: center;
  }
  
  // Parent to wrapper
  // The text-align property only works on inline elements. Wrapper contains inline-block property
  .center-content {
		text-align:center;
  }
  
  

// Header
  header {
		padding-top:10px;
		width: 100%;
  }
	
  #logo {
		padding-left: 10px;
		width: 50%;
  }
	
  //Main Nav
  #main-nav-mobile {
	  display: none;
  }

  
  #block-superfish-1 {
		margin-top: 15px;
  }
  
  #superfish-1 > li {
		background-color: none;
		margin: 2px;
		text-align: center;
		width: 142px;  /*NOTE: this controls the overall width of the div as well*/
  }
	
	.sf-menu.sf-style-blue ul {
    padding-left: 0px;
    padding-top: 12px;
}
	
  .menu a {
	  color: grey;
  }
  
  #secondary-menu {
	  bottom: 10px;
	  height: 40px;
  }
	
	//Third level menu
	.sf-menu.sf-style-blue li li li {
    background: #2F3032;
	}

  

//Banner (all pages)

	.banner-stripe {
		background-color: $iv-blue;
		width: 100%;
		height: 60px
	}
	.blue_banner_stripe {
		margin-bottom: 0px;
	}


  
//FP 1  (Carousel)
  .container { 
	  width: 100%; /* Can be any desired width */
  }
	
  .container .outer .inner {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  .inner {
		background-size: cover; /* make sure the background image always fits and isn't clipped */
  }
	
// FP 2 Nav icons
  .fp-nav-row {
    width: 170px;
    height: 300px;
    float: none;
    margin: 0 auto;
		padding: 0 5px 0 5px;
    overflow: hidden;
    display: inline-block;
		text-align: center;
		vertical-align: top;
  }
	
  .nav2-icon {
		margin: 0 auto;
		height: 72px;
		width: 72px;
  }
	
	#nav2-research a:hover {
		color: black;
	}
	
	// FontAwesome CS
	
	a.read-more:after {
		font-family: FontAwesome;
		content: "\f08e";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}

	a.views-more-link:after {
		font-family: FontAwesome;
		content: "\f08e";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}


	a.home-link:after {
		font-family: FontAwesome;
		content: "\f015";
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}
	
	// Research Front page (RLP)
		
	.rlp-nav-row {
		width: 300px;
		height: 150px;
		float: none;
		margin: 0 auto;
		padding: 0 5px 0 5px;
		overflow: hidden;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}
	
	.rlp-nav-row {
		margin-top: 20px;
	}

	.rlp_button_content {
		color: white;
		font-size: 24px;
		margin-top:70px;
		text-transform: none;
	}
	
	.plain-para {
		text-transform: none;
		color: $default-text-color;
	}

//End Panel / Feature Code
  
  
// Publications

	.block-idmteam > .page-content {
		border-top: thin solid;
	}
	.author-list ul {
		display: inline;
		list-style-type: none;
		padding: 0px;
	}
	.author-list li {
    float: left;
    padding: 0px 10px 0px 0px;
	}
/**
 * Code for RLP
 */

.box-section_wrapper {
	width: 960px;
	height: 100px;
}
	
	#hidden {
		display: none;
	}
	
	

// END RLP Code


// Footer

	div#footer-full {
		margin-top: 20px;
	}
	div#footer-tablet {
    margin-top: 20px;
	}
	#footer-header img {
    margin-top: 20px;
	}
	.footer-wrapper {
		background-color: $iv-blue;
		//width: 100%;
	}
	.footer-wrapper a {
		color: white;
	}
	
	.footer-block {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	}
	
	.footer-block>ul {
		float: left;
		list-style: none;
		padding: 0px 0px 0px 45px;
	}
	
	div#footer-header>p {
    padding-top: 10px;
	}
	
	#copyright {
    clear: left;
    color: white;
    font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}	

	.accordion-content ul {
			list-style: none;
	}

	
// End Footer
