// @file
// Custom sass 
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

  //test CSS
	
	$default-text-color: black;
	$link-color: #0073A3;
	$iv-blue: #0073a3;
	$iv-grey: #858c8c;
	



  h3 {
	margin-top: 0px;
  }
  a {
		text-decoration: none;
		color: $link-color;
		text-transform: uppercase;
  }
	a:hover {
		color: black;
	}

// General CSS
  .wrapper, .region-navigation {
	display: inline-block;
	text-align: center;
  }
  
  // Parent to wrapper
  // The text-align property only works on inline elements. Wrapper contains inline-block property
  .center-content {
	text-align:center;
  }
  
  

// Header
  header {
  padding-top:10px;
  width: 100%;
  }
  #logo {
	padding-left: 10px;
  }
  
  //Main Nav
  #main-nav-mobile {
	  display: none;
  }

  
  #block-superfish-1 {
	margin-top: 15px;
  }
  
  #superfish-1 > li {
	background-color: none;
	margin: 2px;
	text-align: center;
	width: 142px;  /*NOTE: this controls the overall width of the div as well*/
  }
  

  
  .menu a {
	  color: grey;
  }
  
  #secondary-menu {
	  bottom: 10px;
	  height: 40px;
  }
    

 .slicknav_btn {
    background-color: transparent;
	margin: 5px 20px 6px;
  }
  
  .slicknav_menu {
    background: transparent;
		position: relative;
    z-index: 2;
  }
  
  .slicknav_nav {
		background-color: #d7d7d7;
		margin-top: 116px;
  }
	
  
  .slicknav_nav a {
		color: black;
		&:hover {
			color: green;
		}
	}
  
  .slicknav_menu .slicknav_icon-bar {
    background-color: #565656;
		margin-bottom: 8px;
		width: 30px;
	}

//Banner (all pages)

	.banner-stripe {
		background-color: $iv-blue;
		width: 100%;
		height: 60px
	}
	div#block-block-38 {
		margin-bottom: 0px;
	}


  
//FP 1  (Carousel)
  .container { 
	  width: 100%; /* Can be any desired width */
  }
  .container .outer {
	  width: 100%;
	  padding-top: 37%; /* defines aspect ratio */
	  position: relative;
  }
  .container .outer .inner {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  .inner {
	background-size: cover; /* make sure the background image always fits and isn't clipped */
  }
	
// FP 2 Nav icons
  .fp-nav-row {
    width: 170px;
    height: 300px;
    float: none;
    margin: 0 auto;
		padding: 0 5px 0 5px;
    overflow: hidden;
    display: inline-block;
		text-align: center;
  }
  
  .nav2-icon {
	margin: 0 auto;
	height: 72px;
	width: 72px;
  }
	
	#nav2-research a:hover {
			color: black;
	}
	
	.plain-para {
		text-transform: none;
		color: $default-text-color;
	}
  


//Panel / Feature Style

  .banner-text h1 {
	line-height: 1em;
	padding-top: 0px;
  }  

  
  .inner.banner-text {
    padding-top: 25%;
  }
  
  .feature h1 {
		line-height: 1em;
		margin: 0px;
		padding: 0px 0px 0px 0px;
	
  }
  
  //This may need to move to responsive....
  .feature h2 {
		font-family: 'proxima-nova'; font-weight: 700;
		font-size:14px;
		margin: 0px;
  }

  .feature a {
	  color: white;
  }
  
  .feature a:hover {
	  color:orchid;
  }

//End Panel / Feature Code
  

  
  
// Publications
  .ds-2col > .group-left {
    float: left;
    width: 25%;
	}
	.ds-2col > .group-right {
		float: left;
		width: 75%;
	}
	
	
// Footer
	.footer-wrapper {
		background-color: $iv-blue;
		//width: 100%;
	}
	.footer-wrapper a {
		color: white;
	}
	
	.footer-block {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	}
	

	.footer-block>ul {
		float: left;
		list-style: none;
		padding: 0px 0px 0px 45px;

	}
	
	#copyright {
    clear: left;
    color: white;
    font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}	

	.accordion-content ul {
			list-style: none;
	}

	
// End Footer
