/**
 * General CSS
 */

#main {
	padding-top: 200px;
}

.page-home #main {
	padding-top: 21px;
}

.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.hidden {
	display: none;
}

h1, h2 {
	margin-bottom: 25px;
}

h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 40px;
	margin-top: 30px;
}

h4 {
	font-size: 1.17em;
}

h5 {
	font-size: 18px;
	line-height: 1em;
	margin-top: 20px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

div#content {
	margin-bottom: 60px;
}

#page-title  {
	margin-top: 48px;
}


a.read-more:after {
	font-family: FontAwesome;
	content: "\f08e";
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
}

a.views-more-link:after {
	font-family: FontAwesome;
	content: "\f08e";
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
}

.sidebar h2 {
	text-transform: uppercase;
}

figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}

.panel-pane {
/*	margin-bottom: 20px;   This is killing 2nd level page74Â*/
	position: relative;
}

.field-item .fa-external-link:after {
	content: "\f08e";
}
.field-item .fa-external-link:before {
	content: "";
}


/**
 * Home page
 */

.fp-hero {
	background-repeat: no-repeat;
	width: 960px;
	height: 420px;
	margin-top: 24px;
}

div#views_slideshow_cycle_main_fp_rotator-page {
	margin-bottom: 20px;
}

div#fp-hero-tagline {
	padding-top: 100px;
}

#fp-hero-tagline {
	color: white;
	text-align: right;
	margin-top: 20px;
	width: 300px;
	margin-left: 400px;
	/* margin-right: 20px; */
	float: right;
	margin-right: 40px;
}

.fp-hero h1 h2 h3 p {
	color: white;
}

#fp-hero-tagline h1 {
	font-size: 50px;
	text-transform: lowercase;
	font-family: 'Proxima Nova Light';
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 50px;
}

.fp-hero h2 {
	font-size: 18px;
	font-family: 'Proxima Nova Semibold';
	margin-bottom: 5px;
}

.fp-hero p {
	font-size: 21px;
	font-family: 'Proxima Nova Light';
	line-height: 30px;
	margin-top: 5px;
}


#p3-block2.panel-pane.pane-node {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 320px;
}

#p3-block2.panel-pane {
	float: left;
}

#p3_b p {
	padding-top: 0px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}


#p3_block_a .view-content {
	margin: 10px;
	padding-top: 5px;
	padding-right: 10px;
}


div#p3_block_a {
	background-color: rgb(224, 224, 224);
	height: 400px;
	width: 300px;
	float: left;
	margin-top: 20px;
}

div#panel-4 {
	clear: left;
}

#p3_block_a h3,
#p3-block2 h3  {
	font-size: 15px;
}

.view-header > h3 {
	margin-bottom: 0;
	margin-left: 10px;
	margin-top: 20px;
}

#p3_block_a .view-header {
	margin-top: 20px;
}

#p3_block_a h3 {
	margin-bottom: 5px;
}
	
#p3_block_a p {
	margin-top: 5px;
}


/**
 * Top Nav
 */

nav#main-menu {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 11px;  /* push the next item down a bit   */
}
#main-menu li {
	display: inline;
	border-left: thin solid white;
}

#main-menu li.first {
	border-left: hidden;
	padding-right: 30px;
}

#main-menu li:nth-child(2) {
	border-left: hidden;
}

.region-navigation {
	display: inline;
}



#main-menu .links a {
	margin-left: 10px;
	margin-right: 10px;
}

.view-fp-rotator {
	position: relative;
}

/**
 * Breadcrumb
 */
.breadcrumb {
	margin-left: 230px;
	margin-top: 10px;


}


/**
 * CSS for Side menu
 */

#hero-rotator {
    position: absolute;
    margin-bottom: 10px;   /*This won't do anything because absolute takes everthing out of the box*/
}

/*div.hero-rotator {
	position: absolute;
}*/


div.accordian-menu {
	position: absolute;
	top:23px;
}

#accordian-menu {
    padding-bottom: 200px; /* push down next div  */
    clear: both;
    z-index: 4;
}


#accordion {
    position: absolute;
    list-style: none;
    padding: 0 0 0 0;
    margin-top: 0px;
    width: 220px;
}

#accordion li {
	display: block;
	margin: 1px;
	height: 78px;
	border-bottom: 1px solid #646362;
	vertical-align: middle;
	text-transform: uppercase;
}

#accordion a {
    color: white;
		font-size: 20px;
}

#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion ul li {
    font-weight: normal;
    cursor: auto;
    background-color: #fff;
    padding: 0 0 0 7px;
}
#accordion a {
    color: white;
    text-decoration: none;
		padding: 30px 100px 30px 10px;
		line-height: 78px;
}

#accordion .menu-item:hover {
	background-color: rgba(211, 211, 211, 0.91)
}

#accordion a:hover {
    text-decoration: none;
		color: black;
}

#accordion li:first-child {
	height: 60px;
	border: none;
/*	font-family: "Gotham-Bold";*/
	font-size: 18px;
	text-transform: uppercase;
	size: 14px;
	color: white;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgba(33, 61, 97, 1);
	opacity: .7;
}

#accordion li:last-child {
	border: none;
}


div#block-search-form {
	width: 15%;
	float: right;
}


/* Is this needed?????  */
#panel_2 {
    width: 1000px;
    height: 400px;
    background-color: grey;
    clear: both;
}



/**
 * Panel2 CSS
 */

.sf-menu ul {
	min-width: 185px;
}

.p2_box {
  background-color: lightgrey;
  height: 320px;
  width: 300px;
  float: left;
}

div#menu-level2 {
	text-transform: uppercase;
}


/*
 * CSS for panel 2
 */


/* TODO:  Is this needed?
 *
 */

/* level2-page is set in panels specifically for our 2nd level pages */
.level2-page div#content {
	position: relative;
	top: -3px;
}

/*div#block-block-6,*/
div#block-block-7,
div#block-block-10 {
/*	clear: left;*/
}


/* level2 banner block placement */
/*div#block-block-7,*/
/*div#block-block-10 {
	margin-top: 10px;
}*/


/* override needed because of top menu */
#menu-level2 .sf-level1 a {
	color: #0073A3;
}
#menu-level2 .sf-level1 a:hover {
	color: black;
}

#menu-level2 .sf-level1 > a {
	color: white;
}

/*#menu-level2 a:visited {
	color: #0073A3;
}*/

.box_wrap {
	float: left;
}




.p2_box {
  background-color: lightgrey;
  height: 320px;
  width: 300px;
  float: left;
  margin-right: 20px;
}

div.p2_box.last {
	margin-right: 0px;
}
.p2_rollup {
	position: absolute;
	width: 300px;
	height: 320px;
	display: block;
	top: 265px;  /* initial position */
	z-index: 4;
	background-color: rgba(10, 110, 160, 0.60);
	overflow: hidden;
	height: 50px; /* hide the start */ 

}
.p2_rollup h2 {
	font-size: x-large;
}
.show_p2 {
	overflow: visible;
/*	height: 170px;*/
}

.box_title > h2 {
	margin-left: 10px;
	margin-top: 275px;
}

.rollup_content {
	color: white;
	margin-left: 10px;
}

.rollup_content h2 {
	margin-top: 10px;
}

.rollup_content a {
	color: white;
}


#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
}


/*
 * CSS for panel 3
 */

div#home-p3 {
	margin-top: 20px;
}

#p3_boxes div {
	background-color: grey;
	float: left;
	margin-right: 20px;
	height: 320px;
	width: 300px;
}



div#p3_box2 {
	margin-right: 0px;
	width: 320px;
}


#p3_text {
	clear: left;
  line-height: 100px;
  text-align: center;
	width: 960px;
	padding-top: 60px;
}

#p3_text span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#p3_text span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.last {
	margin-right: 0px;
}

/*
 * CSS for Panel Footer
 */


.footer_block .list-title {
	text-transform: uppercase;
}

#footer_header {
	text-align: center;
	padding-top: 20px;
}

footer {
	margin-bottom: 20px;
}

.footer_block {
	margin-top: 20px;
	margin-left: 90px;
}

.footer_block ul {
	margin-right: 35px;
	margin-top: 10px;
}

.footer_block ul:last-child {
	margin-right: 0px;
}

.footer_block ul {
	float: left;
	list-style-type: none;
	padding-left: 0px;
	width: 140px;
}


#footer {
	background-color: #0073a3;
	font-size: 14px;
	margin-left: 10px;
	width: 940px;
}

#footer a {
    color: #CDCECF;
}

#footer a:hover {
	color: white;
}

#copyright {
	clear: left;
	text-align: center;
	font-size: 12px;
/*	margin-left: 35px;*/
}

#copyright li {
	color: white;
	float: left;
	margin-left: 10px;
	display: block;
}


#copyright li  a {
	display: inline;
	margin-right: 10px;
	padding-left: 10px;
	border-left: thin solid white;
}

#copyright li.first a {
	border-left: none;
}


/* CSS for 2nd level pages */

.panels-flexible-brick1 .panels-flexible-row {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.banner-company p {
	font-size: 18px;
	text-transform: uppercase;
}


.panel-pane h2 {
	margin-top: 10px;
}

.panel-pane h3 {
	margin-top: 0px;
}


/*CSS for Team page*/

div#picture-group {
	float: right;
}

div#picture-group {
	margin-left: 30px;
	margin-bottom: 10px;
}

.team-items {
	padding: 0 10px 0 10px;
	vertical-align: top;
	width: 205px;
}

.view-display-team-lead h3 {
	margin: 0px 0px .5em;
	font-size: 16px;
	color: black;
}
.view-display-team-lead  {
	font-size: 14px;
	color: rgb(83, 83, 87);
}


div.team-name-info {
	background-color: rgba(10, 110, 160, 0.60);
	color: white;
	top: 170px;
	font-size: 12px;
	height: 0px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	position: absolute;
	width: 135px;
}
.team-items {
	position: relative;  /* Provide ancestor for rollup to position to */
}

/*Seem to have to this to keep Superfish from clobbering the next element*/
div.panel-pane.pane-views-panes.pane-team-panel-pane-1 {
	clear: both;
}

div#menu-level2 {
	width: 960px;
}


/* Level 2 pages */

.banner-l2 p {
	margin: 0px;
}

.banner-l2 {
	height: 104px;
	width: 960px;
	margin-top: 35px;
}
.banner-company {
	color: white;
	text-justify: left;
	padding-top: 25px;
	margin-left: 20px;
	width: 220px;
	float: left;
}

.banner-text {
	float: right;
	margin: 0px 10px 0px 0px;
}

.banner-text h2 {
	color: white;
	margin: 20px 0px 5px 5px;
	font-size: 2.0em;
}

/* Left 220 */
/* Keep the left sidebar from blowing things up */

.sidebars h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: .5em;
	line-height: 1.5em;
}
.sidebars p {
	margin-top: .5em;
}

.region-sidebar-first {

}
.panels-flexible-region-brick1-left220 h3 {
	font-size: 18px;
	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

.panels-flexible-left220-left {
	/*padding-top: 140px;*/
}

/* CSS for Research page */

.node-research h4 {
	margin-bottom: 0;
}

.research-areas > ul {
	margin: 0 0 10px;
}
#tile-wrap {
	margin-left: 0px;
	margin-right: auto;
	width: 700px;
}

#tile-wrap p {
	margin-top: 0px;
}

.research-areas {
	float: left;
	margin-right: 20px;
	width: 300px;
/*	margin-left: 20px;  Want this flush against the left margin*/
}

/* Adjust margin on h3 above team pictures */
.pane-idmteam-idmteam-author h3 {
	margin: 0px;
}


/*Put a border around images*/
img.media-image,
.field-content img {
	box-shadow: 3px 2px 10px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 2px 2px 10px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 3px 2px 10px 0px rgba(119, 119, 119, 0.75);	
}


/* Research - numerical Methods page */


#numerical-fr {
	height: 200px;
	width: 760px;
}

.numerical-fr-block {
	height: 200px;
	width: 165px;
	float: left;
	margin-right: 20px;
	background-color: #CCC;
	position: relative;
  box-shadow: 4px 2px 5px 0px rgba(119, 119, 119, 0.75);
}

.numerical-fr-block ul li a {
	display: inline-block;
	xborder-top: 1px solid #ffffff;
	background: #0073a3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #FFF;
	text-decoration: none;
	vertical-align: middle;
	width: 130px;
	text-align: center;
	height: 30px;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 18px;
	padding-right: 18px;
	
}

.numerical-fr-block ul li a:hover {
	background-color: grey;
}



.numerical-fr-block ul {
  padding: 0px;
}


.numerical-fr-block ul li {
	list-style-type: none;
	text-decoration: none;
	background-color: ##0073a3;
	color: white;
	margin-top: 140px;
}

/* END: Research - numerical Methods page */


/*Research - left sidebar*/


/*KILLED THIS: redundent */ 
/*.block-views h2 {
	font-size: 22px;
	margin: 0 0 10px 0px;
}*/
td.col-1.col-first {
	position: relative;
}

.sidebar-numerical .team-name-info {
	width: 160px;
}

.numerical.team-name-info {
	height: 0px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	position: absolute;
	width: 160px;
}

div.team-name-info a {
	color: white;
}

/**
 * format publication pages
 */


.pub-title h3 {
	margin: 5px 0px 0px 0px;
}

.pub-title {
	float: left;
}

.node-publications .field-label {
	clear: left;
	margin-top: 10px;
}




.node-publications .field-items p {
	margin: 0px
}

.field.field-name-publication-name.field-type-ds.field-label-hidden {
	border-right: thin solid #808080;
	float: left;
	font-style: italic;
	margin: 0px 10px 0px 0px;
	padding-right: 10px;
}

.node-publications .field-name-read-online-link {
  clear: left;
	margin-bottom: 10px;
}


.node-publications p {
	margin-top: .2em;
}

.node-publications .label-above {
	margin: 20px 0px 0px 0px;
}

.field-name-field-publications-topic .field-item {
	border-right: thin solid #808080;
	padding-right: 10px;
  margin-right: 10px;
}

.field-name-field-publications-link .field-item {
	font-style: italic;
}


.view-mode-full .field-items,
.view-mode-views_display .field-items {
	clear: left;
	float: left;
}



.view-mode-full_node .field-name-read-online {
	clear: left;
}

.view-mode-full_node .label-inline {
	float: left;
	margin: 0px 10px 0px 0px;
}


.field_publication_title {
	clear: left;
	float: left;
}
.field.field_publication_title, 
.field-name-field-publications-date {
	float: left;
	margin-right: 20px;
}


.field-name-field-publications-author .field-item {
	float: left;
	margin-right: 10px;
}



	
.full-node-display-author {
	float: left;
	padding-right: 10px;
	border-right: thin solid #808080;
	margin-right: 10px;
}

.field.field_publication_title {
	margin-right: 10px;
}

.view-publications .field.field-name-field-publications-author {
	clear: left;
}


.view-publications .field.field-name-publications-link2 {
	clear: left;
	font-style: italic;
}

.view-publications .field.field-name-field-publications-abstract {
	float: left;
	margin-top: 20px;
}

/* put a margin on the bottom of publications nodes... probably should just do it for all */
article.node-publications {
	margin-bottom: 20px;
}

/* put items on a new line */
.field_publication_title {
  clear: left;
}


.field.field-name-field-publications-link.field-type-link-field.field-label-hidden {
	clear: left;
}

.node-publications h2 {
	line-height: 1.0em;
}

.field-name-title-field h3 {
	font-size: 18px;
	margin: 0px;
	text-transform: uppercase;
}
.field-name-title-field {
	clear: left;
	margin-top: 50px;
	padding-top: 5px;
}



.field-items p {
	margin: 10px 0px 10px 0px;
}
.view-publications .views-row {
	border-bottom: thin solid grey;
	margin: 10px 0px 25px 0px;
}

.field-name-field-publications-author {
	clear: left;
}

.view-news-and-events  .views-row {
	border-bottom: thin solid grey;
	margin: 10px 0px 25px 0px;
}

.view-news-and-events  .views-row-last {
	border: none;
	margin: 10px 0px 25px 0px;
}


.news-item-title h3 {
	padding-top: 10px;
	clear: left;
}

/* CSS for Multiple team member display block */

.publish_info h4 {
	margin: 0px;
	font-style: italic;
}

.form-item.form-type-item {
  margin: 0;
}
.publish_info {
  margin-bottom: 20px;
}
i.fa.fa-external-link {
	color: #0073A3;
	margin-left: 5px;
}
.author-list ul {
	display: inline;
	list-style-type: none;
	padding: 0px;
}
.author-list li {
	float: left;
	padding: 0px 10px 0px 0px;
}


/* set initial opacity for author images  */
.author-list .views-field-field-profile-picture {
    opacity: 0.4;
}

.author-list .views-row-1 .views-field-field-profile-picture {
    opacity: 1.0;
}

/* Class we will use to toggle opacity */

.views-field.views-field-field-profile-picture.selected-author {
    opacity: 1;
}

/* CSS for Author data */

.swap-author-data,
.default-author-data {
	clear: left;
}


/* CSS for News and Events
 * We will move this to a seperate file if we write a custom module for News
 */


.node-news-and-events .field.field-name-field-news-date.field-type-datetime.field-label-hidden {
	border-left: thin solid #808080;
	float: left;
	font-style: italic;
	margin: 0px 10px 0px 0px;
	padding-left: 10px;
}


.node-news-and-events .field-items {
	padding-right: 10px;
}

.field.field-name-field-news-type.field-type-list-text.field-label-hidden,
.views-field.views-field-title-field {
	clear: left;
}


.views-field.views-field-field-news-type {
	float: left;
	margin-right: 20px;
}


.views-field.views-field-field-news-date {
	border-left: thin solid #808080;
	float: left;
	font-style: italic;
	margin: 0px 10px 0px 0px;
	padding-left: 10px;
}

.field-name-title-field h3 {
	margin: 0 0 10px 0px;
}

/*Polio pages*/

.node-type-polio .field-name-title-field {
	margin-top: 0;
	padding-top: 0;
}




.node-type-polio .field-item.even > h1 {
    margin-top: 25px;
		margin-bottom: 0px;
}


.node-type-polio .field-item.even > ul {
  margin-top: 5px;
}
.view-display-team-lead .views-row {
	position: relative;
}

.polio.team-name-info {
	height: 0;
	overflow: hidden;
	padding: 0 10px;
	position: absolute;
	width: 160px;
}
.polio .field-content h3 {
    color: white;
		margin-top: 20px;
}

#polio_main_table .column {
	float: left;
	margin-right: 5px;
	width: 175px;
}

#polio_main_table .header {
	background-color:  #0073a3;
	color: white;
	height: 75px;
	display: table-cell;
	width: 200px;
	vertical-align: middle;
}

#polio_main_table .sub-head {
	background-color: rgb(219, 219, 219);
	color: black;	
  height: 60px;
  vertical-align: middle;
}


#polio_main_table .row {
	border-bottom: solid thin black;
	color: black;	
  height: 60px;
  vertical-align: middle;
}
#polio_main_table .no-border {
	border: none;
}

#polio_main_table  p {
	margin-left: 10px;
	margin-top: 0;
	padding-top: 10px;
}


#polio_main_table a:link {
	color: white;
}
#polio_main_table a:visited {
	color: white;
}
#polio_main_table a:hover {
	color: white;
}



/* Polio Brief reports */

.field-name-field-polio-report-topic {
	float: left;
	margin-right: 10px;
}



.node-polio-reports .field.field-name-field-related-group-tags.field-type-taxonomy-term-reference {
	float: left;
	margin-right: 10px;
}

.field-name-field-polio-report-date {
	border-left: thin solid #808080;
	float: left;
	font-style: italic;
	margin: 0 10px 0 0;
	padding-left: 10px;
}

.view-research-brief-reports .views-row {
	border-bottom: thin solid grey;
	margin: 10px 0px 25px 0px;
}

.view-research-brief-reports .views-row-last {
	border: none;
}

/* Make Div relative so the jquery can slide absolute element into place */
.view-id-related_team_profile2 .views-row {
	position: relative;
}


/*End Polio Pages*/
/*****************/

/* Software Pages */


#download  a {text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:none; 
  
/* font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; */
 color:#f9fbfc; 
 background-color:#1869a3; 
 background-image: -moz-linear-gradient(top, #1869a3 0%, #173761 100%); 
 background-image: -webkit-linear-gradient(top, #1869a3 0%, #173761 100%); 
 background-image: -o-linear-gradient(top, #1869a3 0%, #173761 100%); 
 background-image: -ms-linear-gradient(top, #1869a3 0% ,#173761 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173761', endColorstr='#173761',GradientType=0 ); 
 background-image: linear-gradient(top, #1869a3 0% ,#173761 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
}
	
#download  a:hover {text-decoration:none; text-align:center; 
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
  
 color:#090a0a; 
 background-color:#e5e7e8; 
 background-image: -moz-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -webkit-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -o-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -ms-linear-gradient(top, #e5e7e8 0% ,#363738 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363738', endColorstr='#363738',GradientType=0 ); 
 background-image: linear-gradient(top, #e5e7e8 0% ,#363738 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
}


/* DEV Code */

div.dl-button h1 {
	font-size: 18px;
	margin: 1px;
}

div.dl-button h2 {
	font-size: 12px;
	margin: 0px;
	line-height: 12px;
}

div.dl-button a {
	color: white;
}



div.dl-button {
	text-decoration:none;
	text-align:center;
	padding:10px 10px 10px 10px;
	border:none;
	/* font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; */
  color: white;
	background-color:#1869a3;
	background-image: -moz-linear-gradient(top, #1869a3 0%, #173761 100%);
	background-image: -webkit-linear-gradient(top, #1869a3 0%, #173761 100%);
	background-image: -o-linear-gradient(top, #1869a3 0%, #173761 100%);
	background-image: -ms-linear-gradient(top, #1869a3 0% ,#173761 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173761', endColorstr='#173761',GradientType=0 ); 
	background-image: linear-gradient(top, #1869a3 0% ,#173761 100%);
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	width: 170px;  
}

div.dl-button:hover {

 border:solid 1px #004F72;
 color:#090a0a; 
 background-color:#e5e7e8; 
 background-image: -moz-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -webkit-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -o-linear-gradient(top, #e5e7e8 0%, #363738 100%); 
 background-image: -ms-linear-gradient(top, #e5e7e8 0% ,#363738 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363738', endColorstr='#363738',GradientType=0 ); 
 background-image: linear-gradient(top, #e5e7e8 0% ,#363738 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}


/* END DEV code */



.software-bundle {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #999;
	border-bottom-color: #999;
	margin-top: 10px;
	padding-left: 20px;

}

.software-bundle.last {
	border-bottom-style: solid;
	padding-bottom: 20px;
}


.software-bundle .software-bundle-text {
	float: left;
	width: 500px;
}
.software-bundle .software-bundle-link {
	float: left;
	margin-top: 10px;
}
.clear-left {
	clear: left;
}
/*.software-wrapper {
	width: 700px;
}*/

.software-download-description {
	color: rgb(109, 108, 108);
	font-size: 15px;
}

.software-download-description p {
	margin: 0px;
}
.software-page-wrapper #software-gif {
	height: 575px;
	width: 740px;
}

.software220-wrap p {
	margin: 0px;
}

.software220-wrap h4 {
	margin-top: 10px;
	margin-bottom: 0px;

}


/* About US pages */

.page-node-47 #page-title {
    bottom: 50px;
    position: relative;
}

/* Career */

.view-mode-full p {
	margin-bottom: 10px;
}

figure {
	margin: 0;
	font-size: 80%;
	padding-left: 10px;
}
