/**
 * General CSS
 */

#main {
	padding-top: 200px;
}

.page-home #main {
	padding-top: 30px;
}


.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.hidden {
	display: none;
}

h1, h2 {
	margin-bottom: 25px;
}

#content h1 {
	font-size: 40px;
	margin-top: 20px;
}





.panel-pane {
/*	margin-bottom: 20px;   This is killing 2nd level page74Â*/
	position: relative;
}

.field-item .fa-external-link:after {
	content: "\f08e";
}
.field-item .fa-external-link:before {
	content: "";
}


/**
 * Top Nav
 */

nav#main-menu {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 11px;  /* push the next item down a bit   */
}
#main-menu li {
	display: inline;
	border-left: thin solid white;
}

#main-menu li.first {
	border-left: hidden;
	padding-right: 30px;
}

#main-menu li:nth-child(2) {
	border-left: hidden;
}



#main-menu .links a {
	margin-left: 10px;
	margin-right: 10px;
}

.view-fp-rotator {
	position: relative;
}

/**
 * Breadcrumb
 */
.breadcrumb {
	margin-left: 230px;
	margin-top: 10px;


}


/**
 * CSS for Side menu
 */

#hero-rotator {
    position: absolute;
    margin-bottom: 10px;   /*This won't do anything because absolute takes everthing out of the box*/
}

/*div.hero-rotator {
	position: absolute;
}*/


div.accordian-menu {
	position: absolute;
	top:23px;
}

#accordian-menu {
    padding-bottom: 200px; /* push down next div  */
    clear: both;
    z-index: 4;
}

/*#accordian-menu #menu_title {
	font-family: "Gotham-Bold";
	size: 14px;
	color: white;
}*/

#accordion {
    position: absolute;
    list-style: none;
    padding: 0 0 0 0;
    margin-top: 0px;
    width: 220px;
}

#accordion li {
	display: block;
	font-weight: bold;
	margin: 1px;
	height: 78px;
	border-bottom: 1px solid #646362;
	vertical-align: middle;
	text-transform: uppercase;
}

#accordion a {
    color: white;
		font-size: 20px;
}

#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion ul li {
    font-weight: normal;
    cursor: auto;
    background-color: #fff;
    padding: 0 0 0 7px;
}
#accordion a {
    color: white;
    text-decoration: none;
		padding: 30px 100px 30px 10px;
		line-height: 78px;
}

#accordion .menu-item:hover {
	background-color: rgba(211, 211, 211, 0.91)
}

#accordion a:hover {
    text-decoration: none;
		color: black;
}

#accordion li:first-child {
	height: 60px;
	border: none;
	font-family: "Gotham-Bold";
	size: 14px;
	color: white;
	text-transform: uppercase;
	padding-top: 40px;
	padding-left: 10px;
	background-color: rgba(33, 61, 97, 1);
	opacity: .7;
}

#accordion li:last-child {
	border: none;
}


div#block-search-form {
	width: 180px;
	float: right;
}


/* Is this needed?????  */
#panel_2 {
    width: 1000px;
    height: 400px;
    background-color: grey;
    clear: both;
}



/**
 * Panel2 CSS
 */

.p2_box {
  background-color: lightgrey;
  height: 320px;
  width: 300px;
  float: left;
}

div#menu-level2 {
	text-transform: uppercase;
}


/*
 * CSS for panel 2
 */


/* TODO:  Is this needed?
 *
 */

/* level2-page is set in panels specifically for our 2nd level pages */
.level2-page div#content {
	position: relative;
	top: -3px;
}

div#block-block-6,
div#block-block-7,
div#block-block-10 {
	clear: left;
}


/* level2 banner block placement */
div#block-block-7,
div#block-block-10 {
	margin-top: 10px;
}


/* override needed because of top menu */
#menu-level2 .sf-level1 a {
	color: #0073A3;
}
#menu-level2 .sf-level1 a:hover {
	color: black;
}

#menu-level2 .sf-level1 > a {
	color: white;
}

/*#menu-level2 a:visited {
	color: #0073A3;
}*/

.box_wrap {
	float: left;
}




.p2_box {
  background-color: lightgrey;
  height: 320px;
  width: 300px;
  float: left;
  margin-right: 20px;
}

div.p2_box.last {
	margin-right: 0px;
}
.p2_rollup {
	position: absolute;
	width: 300px;
	height: 320px;
	display: block;
	top: 260px;  /* initial position */
	z-index: 4;
	background-color: rgba(10, 110, 160, 0.60);
	overflow: hidden;
	height: 60px; /* hide the start */ 

}
.p2_rollup h2 {
	font-size: x-large;
}
.show_p2 {
	overflow: visible;
/*	height: 170px;*/
}

.box_title > h2 {
	margin-left: 10px;
	margin-top: 275px;
}

.rollup_content {
	color: white;
	margin-left: 10px;
}

.rollup_content h2 {
	margin-top: 10px;
}


#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
}


/*
 * CSS for panel 3
 */

div#home-p3 {
	margin-top: 20px;
}

#p3_boxes div {
	background-color: grey;
	float: left;
	margin-right: 20px;
	height: 320px;
	width: 300px;
}



div#p3_box2 {
	margin-right: 0px;
	width: 320px;
}


#p3_text {
	clear: left;
  line-height: 100px;
  text-align: center;
	width: 960px;
}

#p3_text span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#p3_text span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.last {
	margin-right: 0px;
}

/*
 * CSS for Panel Footer
 */

#footer_header {
	text-align: center;
	padding-top: 20px;
}

footer {
	margin-bottom: 20px;
}

.footer_block {
	margin-top: 20px;
	margin-left: 90px;
}

.footer_block ul {
	margin-right: 35px;
	margin-top: 10px;
}

.footer_block ul:last-child {
	margin-right: 0px;
}

.footer_block ul {
	float: left;
	list-style-type: none;
	padding-left: 0px;
	width: 140px;
}


/* Hit the title */
li.list-title {
	font-family: "Gotham-Bold";
}
/* END hit the title */


#footer {
	background-color: #0073a3;
	font-size: 14px;
	margin-left: 10px;
	width: 940px;
}

#footer a {
	color: white;
}

#copyright {
	clear: left;
	text-align: center;
	font-size: 12px;
/*	margin-left: 35px;*/
}

#copyright li {
	color: white;
	float: left;
	margin-left: 10px;
	display: block;
}


#copyright li  a {
	display: inline;
	margin-right: 10px;
	padding-left: 10px;
	border-left: thin solid white;
}

#copyright li.first a {
	border-left: none;
}


/* CSS for 2nd level pages */

.panels-flexible-brick1 .panels-flexible-row {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}


.panel-pane h2 {
	margin-top: 10px;
}

.panel-pane h3 {
	margin-top: 0px;
}


/*CSS for Team page*/



.team-items {
	padding: 0 10px 0 10px;
	vertical-align: top;
	width: 205px;
}

.view-display-team-lead h3 {
	margin: 0px 0px .5em;
	font-size: 16px;
	color: black;
}
.view-display-team-lead  {
	font-size: 14px;
	color: rgb(83, 83, 87);
}


div.team-name-info {
	background-color: rgba(10, 110, 160, 0.60);
	color: white;
	top: 170px;
	font-size: 12px;
	height: 0px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	position: absolute;
	width: 135px;
}
.team-items {
	position: relative;  /* Provide ancestor for rollup to position to */
}

/*Seem to have to this to keep Superfish from clobbering the next element*/
div.panel-pane.pane-views-panes.pane-team-panel-pane-1 {
	clear: both;
}

div#menu-level2 {
	width: 960px;
}


/* Level 2 pages */

.banner-l2 p {
	margin: 0px;
}

.banner-l2 {
	height: 104px;
	width: 960px;
}
.banner-company {
	color: white;
	text-justify: left;
	padding-top: 25px;
	margin-left: 20px;
	width: 220px;
	float: left;
}

.banner-text {
	float: right;
	margin: 0px 10px 0px 0px;
}

.banner-text h2 {
	color: white;
	margin: 20px 0px 5px 5px;
	font-size: 2.0em;
}

/* Left 220 */
/* Keep the left sidebar from blowing things up */
.region-sidebar-first {

}
.panels-flexible-region-brick1-left220 h3 {
	font-size: 18px;
	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

.panels-flexible-left220-left {
	/*padding-top: 140px;*/
}

/* CSS for Research page */
#tile-wrap {
	margin-left: 0px;
	margin-right: auto;
	width: 700px;
}

#tile-wrap p {
	margin-top: 0px;
}

.research-areas {
	float: left;
	margin-right: 20px;
	width: 300px;
/*	margin-left: 20px;  Want this flush against the left margin*/
}

/* Adjust margin on h3 above team pictures */
.pane-idmteam-idmteam-author h3 {
	margin: 0px;
}


/*Put a border around images*/
img.media-image,
.field-content img {
	box-shadow: 3px 2px 10px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 2px 2px 10px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 3px 2px 10px 0px rgba(119, 119, 119, 0.75);	
}


/* Research - numerical Methods page */



#numerical-fr {
	height: 200px;
	width: 760px;
}
.numerical-fr-block {
	height: 200px;
	width: 165px;
	float: left;
	margin-right: 20px;
	background-color: #CCC;
	position: relative;
}

.numerical-fr-foot {
	background-color: #0073a3;
}
.numerical-fr-foot {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

#numerical-fr h4 {
	color: white;
	margin-top: .5em;
	margin-bottom: .5em;
}

#numerical-fr a {
	color: black;
}

a .numerical-fr-foot:hover {
	background-color: grey;
}


/*Research - left sidebar*/

.block-views h2 {
	font-size: 22px;
	margin: 0 0 10px 0px;
}
td.col-1.col-first {
	position: relative;
}

.sidebar-numerical .team-name-info {
	width: 160px;
}

.numerical.team-name-info {

	height: 0px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	position: absolute;
	width: 160px;
}

div.team-name-info a {
	color: white;
}

/**
 * format publication pages
 */


.field.field-name-publication-name.field-type-ds.field-label-hidden {
	border-left: thin solid #808080;
	float: left;
	font-style: italic;
	margin: 0px 10px 0px 0px;
	padding-left: 10px;
}

.node-publications .field-name-read-online-link {
  clear: left;
	margin-bottom: 10px;
}

.field-publications-date {
	border-left: thin solid grey;
	float: left;
	padding-left: 10px;
}

.node-publications p {
	margin-top: .2em;
}

.node-publications .label-above {
	margin: 20px 0px 0px 0px;
}

.field-name-field-publications-topic .field-item {
  margin-right: 15px;
}

.field-name-field-publications-link .field-item {
	font-style: italic;
}


.view-mode-full .field-items {
	float: left;
}

.view-mode-full_node .field-name-read-online {
	clear: left;
}

.view-mode-full_node .label-inline {
	float: left;
	margin: 0px 10px 0px 0px;
}

.field_publication_title {
	clear: left;
	float: left;
}
.field.field_publication_title, 
.field-name-field-publications-date {
    float: left;
		margin-right: 20px;
}

.field-name-field-publications-author .field-item.field-item {
    float: left;
		margin-right: 10px;
/*		font-weight: bold;*/
}
	

.field.field_publication_title {
	margin-right: 10px;
}

.view-publications .field.field-name-field-publications-author {
	clear: left;
}


.view-publications .field.field-name-publications-link2 {
	clear: left;
	font-style: italic;
}

.view-publications .field.field-name-field-publications-abstract {
	float: left;
	margin-top: 20px;
}

/* put a margin on the bottom of publications nodes... probably should just do it for all */
article.node-publications {
	margin-bottom: 20px;
}

/* put items on a new line */
.field_publication_title {
  clear: left;
}


.field.field-name-field-publications-link.field-type-link-field.field-label-hidden {
	clear: left;
}

.node-publications h2 {
	line-height: 1.0em;
}

.field-name-title-field h3 {
	font-size: 20px;
	margin: 0px;
}
.field-name-title-field {
	clear: left;
	margin-top: 50px;
}

.view-content .field-name-field-publications-date {
	border-left: thin solid grey;
	padding-left: 10px;
}

.field-items p {
	margin: 10px 0px 10px 0px;
}
.view-publications .views-row {
	border-bottom: thin solid grey;
	margin: 10px 0px 25px 0px;
}

.field-name-title-field h2 {
	margin: 5px 0px 10px 0px;
}



/* CSS for Multiple team member display block */

.publish_info h4 {
	margin: 0px;
	font-style: italic;
}

.form-item.form-type-item {
  margin: 0;
}
.publish_info {
  margin-bottom: 20px;
}
i.fa.fa-external-link {
	color: #0073A3;
	margin-left: 5px;
}
.author-list ul {
	display: inline;
	list-style-type: none;
	padding: 0px;
}
.author-list li {
	float: left;
	padding: 0px 10px 0px 0px;
}


/* set initial opacity for author images  */
.author-list .views-field-field-profile-picture {
    opacity: 0.4;
}

.author-list .views-row-1 .views-field-field-profile-picture {
    opacity: 1.0;
}

/* Class we will use to toggle opacity */

.views-field.views-field-field-profile-picture.selected-author {
    opacity: 1;
}

/* CSS for Author data */

.swap-author-data,
.default-author-data {
	clear: left;
}


*/



