/*Front page CSS*/


/* Format pager front page rotator */



.views-slideshow-controls-bottom.clearfix {
    position: relative;
    bottom: 50px;
    z-index: 5;
}

.views-content-counter {
    display: none;
}
.views-slideshow-pager-field-item {
    float: left;
    height:10px;
    padding:5px;
    margin: 0px 5px 0px 5px;
}

.views-slideshow-pager-field-item {
	border-style: none;
    border-color: black;
    border-width: 1px;
    background: rgba(212, 212, 212, 0.50);
    border-radius: 10px;
    height: 5px;
    width: 5px;
}

.views-slideshow-pager-field-item.active {
    background: #037CAE;
    border-radius: 10px;
}

/* note: This does not really work for dynamic bullets - e.g., more items will appear off balance */
.views-slideshow-controls-bottom {
    margin: 10px auto 10px auto;
    width: 130px;
}
/* End Pager format */

/* Nav bar */

#wrapper {
	bottom:10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
}

/* End Nav bar */