/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 14, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * hacks to fix FP mobile
 */
@media all and (max-width: 375px) {
  /* line 334, ../sass/layouts/_responsive.scss */
  #home-p3 {
    margin-top: 20%;
  }
}
@media all and (min-width: 376px) and (max-width: 425px) {
  /* line 340, ../sass/layouts/_responsive.scss */
  #home-p3 {
    margin-top: 10%;
  }

  /* line 343, ../sass/layouts/_responsive.scss */
  #footer-header-mobile img {
    width: 60%;
  }
}
/**
 * Screen below 480px)
 * (2016-03-05) Custom Section: Not sure why this wasn't included in the "stock Zen config"
 * Custom mod
 */
@media all and (max-width: 480px) {
  /* line 364, ../sass/layouts/_responsive.scss */
  h1#page-title {
    display: none;
  }

  /* line 367, ../sass/layouts/_responsive.scss */
  .team-menu-wrap.page-content {
    display: none;
  }

  /* line 373, ../sass/layouts/_responsive.scss */
  div#publications-mobile-left {
    display: block;
    float: left;
    margin-right: 1em;
    max-width: 30%;
  }

  /* line 380, ../sass/layouts/_responsive.scss */
  div#publications-mobile-right {
    min-height: 200px;
  }

  /* line 383, ../sass/layouts/_responsive.scss */
  .views-row {
    clear: left;
    border-bottom: thin solid black;
    margin: 10px;
  }

  /* line 389, ../sass/layouts/_responsive.scss */
  .views-field.views-field-nothing-1.publication-list-col1 {
    display: none;
  }

  /* line 396, ../sass/layouts/_responsive.scss */
  .container .outer {
    padding-top: 50%;
    /* defines aspect ratio */
  }

  /* line 400, ../sass/layouts/_responsive.scss */
  .slicknav_menu .slicknav_icon-bar {
    background-color: #565656;
    margin-bottom: 5px;
    width: 25px;
  }

  /* line 408, ../sass/layouts/_responsive.scss */
  .front #content {
    padding-top: 80%;
  }

  /* line 412, ../sass/layouts/_responsive.scss */
  #content {
    padding-top: 70%;
  }

  /* line 416, ../sass/layouts/_responsive.scss */
  #block-superfish-1 {
    display: none;
  }

  /* line 420, ../sass/layouts/_responsive.scss */
  .mobile-display {
    display: block;
  }

  /* line 423, ../sass/layouts/_responsive.scss */
  .not-mobile-display {
    display: none;
  }

  /* line 428, ../sass/layouts/_responsive.scss */
  .inner.banner-text {
    padding-top: 35%;
  }

  /* line 431, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    line-height: 1em;
    margin: 0px;
    padding: 0px 0px 0px 0px;
  }

  /* line 436, ../sass/layouts/_responsive.scss */
  .banner-text h2 {
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
  }

  /* line 441, ../sass/layouts/_responsive.scss */
  .banner-text a {
    color: white;
  }

  /* line 444, ../sass/layouts/_responsive.scss */
  .banner-text a:hover {
    color: orchid;
  }

  /* line 448, ../sass/layouts/_responsive.scss */
  .owl-dots {
    position: absolute;
    top: 50%;
    left: 45%;
  }

  /* line 454, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    font-size: .9em;
    font-weight: bold;
  }

  /* line 458, ../sass/layouts/_responsive.scss */
  .banner-text h2 {
    font-size: .9em;
    line-height: 1.5em;
  }

  /* line 462, ../sass/layouts/_responsive.scss */
  .banner-text.mobile-display {
    height: 100px;
    margin-top: 15px;
  }

  /* line 468, ../sass/layouts/_responsive.scss */
  .two-column-1 {
    flex: 0 0 250px;
    display: none;
  }

  /* line 473, ../sass/layouts/_responsive.scss */
  .two-column-2 {
    margin: 0px 10px;
  }

  /* line 476, ../sass/layouts/_responsive.scss */
  #page-title, .page-content {
    max-width: 90%;
  }
}
/* line 487, ../sass/layouts/_responsive.scss */
#stripe-full {
  display: none;
}

/* line 490, ../sass/layouts/_responsive.scss */
#stripe-tablet {
  display: none;
}

/* line 493, ../sass/layouts/_responsive.scss */
#stripe-mobile {
  display: block;
}

/* line 497, ../sass/layouts/_responsive.scss */
#main {
  margin-top: 0px;
}

/* line 502, ../sass/layouts/_responsive.scss */
.slicknav_menu {
  background: transparent none repeat scroll 0% 0%;
  position: relative;
  z-index: 2;
  height: 61px;
}

/* line 510, ../sass/layouts/_responsive.scss */
.slicknav_nav {
  background-color: #d7d7d7;
  margin-top: 2.7em;
  padding: 0px;
}

/* line 519, ../sass/layouts/_responsive.scss */
.slicknav_btn {
  background-color: transparent;
  margin: 0px 20px 0px 0px;
}

/* line 524, ../sass/layouts/_responsive.scss */
.slicknav_nav a {
  color: #6C6666;
  padding: 15px 10px;
}
/* line 527, ../sass/layouts/_responsive.scss */
.slicknav_nav a:hover {
  color: black;
}

/* line 533, ../sass/layouts/_responsive.scss */
div.slicknav_menu {
  width: 100%;
  padding: 0;
}

/* line 540, ../sass/layouts/_responsive.scss */
ul.slicknav_nav {
  width: 100%;
  position: relative;
}

/* line 545, ../sass/layouts/_responsive.scss */
.slicknav_nav .slicknav_row {
  padding: 15px 10px;
}

/* line 553, ../sass/layouts/_responsive.scss */
#footer-tablet {
  display: block;
}

/* line 557, ../sass/layouts/_responsive.scss */
#footer-full {
  display: none;
}

/***** Tablet Layout **********************
 * 
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * Dev code
   * TODO: Remove before production ? why? 
   */
  /* line 578, ../sass/layouts/_responsive.scss */
  #banner {
    top: 1em;
  }

  /* line 582, ../sass/layouts/_responsive.scss */
  .container .outer {
    padding-top: 45%;
    /* defines aspect ratio  of banner image*/
  }

  /* line 586, ../sass/layouts/_responsive.scss */
  #content {
    padding-top: 45%;
  }

  /* line 590, ../sass/layouts/_responsive.scss */
  .inner.banner-text {
    padding-top: 32%;
  }

  /* line 594, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    font-size: 1.2em;
    font-weight: 500;
  }

  /* line 599, ../sass/layouts/_responsive.scss */
  .not-mobile-display > h1 {
    font-size: 1.5em;
  }

  /* line 602, ../sass/layouts/_responsive.scss */
  .not-mobile-display > h2 {
    font-size: 0.75em;
  }

  /* line 606, ../sass/layouts/_responsive.scss */
  #page-title,
  .page-content {
    max-width: 80%;
  }

  /**
   *Custom mods
   */
  /* line 618, ../sass/layouts/_responsive.scss */
  #stripe-full {
    display: none;
  }

  /* line 621, ../sass/layouts/_responsive.scss */
  #stripe-tablet {
    display: block;
  }

  /* line 624, ../sass/layouts/_responsive.scss */
  #stripe-mobile {
    display: none;
  }

  /* line 629, ../sass/layouts/_responsive.scss */
  .slicknav_nav {
    background-color: #d7d7d7;
    margin-top: 115px;
  }

  /* line 636, ../sass/layouts/_responsive.scss */
  #block-superfish-1 {
    display: none;
  }

  /* line 641, ../sass/layouts/_responsive.scss */
  .front .wrapper {
    max-width: 525px;
  }

  /* line 644, ../sass/layouts/_responsive.scss */
  .header_secondary-menu {
    display: inline-block;
  }

  /* line 647, ../sass/layouts/_responsive.scss */
  .slicknav_menu {
    padding: 0 0 0 20px;
  }

  /* line 652, ../sass/layouts/_responsive.scss */
  #footer-tablet {
    display: block;
  }

  /**
   * Zen config
   */
  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 666, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    background-color: lightblue;
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 669, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 16.66667%;
    margin-right: 8.33333%;
    margin-left: -25%;
    background-color: orange;
  }
  /* line 676, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    background-color: green;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 686, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 688, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 16.66667%;
    margin-right: 0%;
    margin-left: -16.66667%;
  }
  /* line 693, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -25%;
  }

  /**
   * The layout when there are two sidebars.
   */
}
/*End of 959*/
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /* line 752, ../sass/layouts/_responsive.scss */
  .slicknav_menu {
    display: none;
  }

  /* line 755, ../sass/layouts/_responsive.scss */
  #stripe-mobile {
    display: none;
  }

  /* line 758, ../sass/layouts/_responsive.scss */
  #stripe-tablet {
    display: none;
  }

  /* line 761, ../sass/layouts/_responsive.scss */
  #stripe-full {
    display: block;
  }

  /* line 764, ../sass/layouts/_responsive.scss */
  .wrapper {
    max-width: 960px;
  }

  /* line 768, ../sass/layouts/_responsive.scss */
  #stripe-full p {
    margin-top: 1.5em;
  }

  /* line 772, ../sass/layouts/_responsive.scss */
  #home-p3 {
    margin-top: 2em;
  }

  /* line 776, ../sass/layouts/_responsive.scss */
  #footer-full {
    display: block;
  }

  /* line 779, ../sass/layouts/_responsive.scss */
  #footer-tablet {
    display: none;
  }

  /* line 783, ../sass/layouts/_responsive.scss */
  #page-title,
  .page-content {
    max-width: 80%;
  }

  /**
   * Layout for Single Column Centered
   */
  /**
   * The layout when there is only one sidebar, the left one.
   */
  /**
   * The layout when there is only one sidebar, the right one.
   */
  /**
   * The layout when there are two sidebars.
   */
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 26, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 131, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
