/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 14, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 300px) and (max-width: 768px) {
  /* line 454, ../sass/layouts/_responsive.scss */
  #home-p3 {
    margin-top: 10%;
  }

  /* line 457, ../sass/layouts/_responsive.scss */
  #footer-header-mobile img {
    width: 60%;
  }

  /* line 461, ../sass/layouts/_responsive.scss */
  header {
    display: initial;
  }
}
/***** Mobile Layout **********************************************************************
 * Screen below 480px)
 * (2016-03-05) Custom Section: Not sure why this wasn't included in the "stock Zen config"
 * Custom mod
 */
@media all and (max-width: 480px) {
  /* line 479, ../sass/layouts/_responsive.scss */
  .slicknav_menu {
    background: transparent none repeat scroll 0% 0%;
    position: relative;
    z-index: 2;
    height: 61px;
    top: -10px;
  }

  /* line 487, ../sass/layouts/_responsive.scss */
  #idm-logo-mobile {
    position: relative;
    bottom: 25px;
  }

  /* line 492, ../sass/layouts/_responsive.scss */
  #idm-logo-mobile h2 {
    font-size: 30px;
  }

  /* line 495, ../sass/layouts/_responsive.scss */
  #idm-logo {
    display: none;
  }

  /* line 500, ../sass/layouts/_responsive.scss */
  .mobile-left {
    display: block;
    float: left;
    margin-right: 1em;
    max-width: 30%;
  }

  /* line 507, ../sass/layouts/_responsive.scss */
  h1#page-title {
    display: none;
  }

  /* line 510, ../sass/layouts/_responsive.scss */
  .team-menu-wrap.page-content {
    display: none;
  }

  /* line 514, ../sass/layouts/_responsive.scss */
  .mobile-hide {
    display: none;
  }

  /* line 518, ../sass/layouts/_responsive.scss */
  .owl-theme .owl-nav.disabled + .owl-dots {
    position: relative;
    margin-top: -150px;
  }

  /* line 524, ../sass/layouts/_responsive.scss */
  div#publications-mobile-left {
    display: block;
    float: left;
    margin-right: 1em;
    max-width: 30%;
  }

  /* line 531, ../sass/layouts/_responsive.scss */
  .image-responsive-30 {
    max-width: 30%;
  }

  /* line 535, ../sass/layouts/_responsive.scss */
  div#publications-mobile-right {
    min-height: 200px;
  }

  /* line 538, ../sass/layouts/_responsive.scss */
  .views-row {
    margin: 10px;
  }

  /* line 544, ../sass/layouts/_responsive.scss */
  .region-content-second .view-header {
    margin-left: 10px;
  }

  /* line 549, ../sass/layouts/_responsive.scss */
  .views-field.views-field-nothing-1.publication-list-col1,
  .two-column-float-1 {
    display: none;
  }

  /* line 554, ../sass/layouts/_responsive.scss */
  .view-display-team-lead .views-row {
    border-bottom: none;
  }

  /* line 557, ../sass/layouts/_responsive.scss */
  .team-member-profile .views-row {
    border-bottom: none;
  }

  /* line 561, ../sass/layouts/_responsive.scss */
  .two-column-flex, .region-content-second, .ds-2col {
    display: block;
  }

  /* line 565, ../sass/layouts/_responsive.scss */
  #content-second img {
    width: 125px;
  }

  /* line 572, ../sass/layouts/_responsive.scss */
  .container .outer {
    padding-top: 50%;
    /* defines aspect ratio */
  }

  /* line 576, ../sass/layouts/_responsive.scss */
  .slicknav_menu .slicknav_icon-bar {
    background-color: #565656;
    margin-bottom: 5px;
    width: 25px;
  }

  /* line 584, ../sass/layouts/_responsive.scss */
  .front #content {
    padding-top: 80%;
  }

  /* line 588, ../sass/layouts/_responsive.scss */
  #content {
    padding-top: 70%;
  }

  /* line 592, ../sass/layouts/_responsive.scss */
  #block-superfish-1 {
    display: none;
  }

  /* line 596, ../sass/layouts/_responsive.scss */
  .mobile-display {
    display: block;
  }

  /* line 599, ../sass/layouts/_responsive.scss */
  .not-mobile-display {
    display: none;
  }

  /* line 603, ../sass/layouts/_responsive.scss */
  .desktop-display {
    display: none;
  }

  /* line 609, ../sass/layouts/_responsive.scss */
  .inner.banner-text {
    padding-top: 33%;
  }

  /* line 612, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    line-height: 1em;
    margin: 0px;
    padding: 0px 0px 5px 0px;
  }

  /* line 617, ../sass/layouts/_responsive.scss */
  .banner-text h2 {
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
  }

  /* line 622, ../sass/layouts/_responsive.scss */
  .banner-text a {
    color: white;
  }

  /* line 625, ../sass/layouts/_responsive.scss */
  .banner-text a:hover {
    color: orchid;
  }

  /* line 630, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    font-size: 1em;
    font-weight: bold;
  }

  /* line 634, ../sass/layouts/_responsive.scss */
  .banner-text h2 {
    font-size: .9em;
    line-height: 1.3em;
  }

  /* line 638, ../sass/layouts/_responsive.scss */
  .banner-text.mobile-display {
    height: 100px;
    margin-top: 15px;
  }

  /* line 644, ../sass/layouts/_responsive.scss */
  .two-column-1 {
    flex: 0 0 250px;
    display: none;
  }

  /* line 649, ../sass/layouts/_responsive.scss */
  .two-column-2 {
    margin: 0px 10px;
  }

  /* line 652, ../sass/layouts/_responsive.scss */
  #page-title {
    max-width: 90%;
  }

  /* line 657, ../sass/layouts/_responsive.scss */
  .field.field-name-news-and-events-heading.field-type-ds.field-label-hidden {
    display: none;
  }
}
@media all and (max-width: 375px) {
  /* line 667, ../sass/layouts/_responsive.scss */
  .banner-text h2 {
    font-size: .7em;
    line-height: 1.1em;
  }
}
/* line 678, ../sass/layouts/_responsive.scss */
#stripe-full {
  display: none;
}

/* line 681, ../sass/layouts/_responsive.scss */
#stripe-tablet {
  display: none;
}

/* line 684, ../sass/layouts/_responsive.scss */
#stripe-mobile {
  display: block;
}

/* line 688, ../sass/layouts/_responsive.scss */
#main {
  margin-top: 0px;
}

/* line 693, ../sass/layouts/_responsive.scss */
.slicknav_menu {
  background: transparent none repeat scroll 0% 0%;
  position: relative;
  z-index: 2;
  height: 61px;
}

/* line 701, ../sass/layouts/_responsive.scss */
.slicknav_nav {
  background-color: #d7d7d7;
  margin-top: 2.7em;
  padding: 0px;
}

/* line 710, ../sass/layouts/_responsive.scss */
.slicknav_btn {
  background-color: transparent;
  margin: 0px 20px 0px 0px;
}

/* line 715, ../sass/layouts/_responsive.scss */
.slicknav_nav a {
  color: #6C6666;
  padding: 15px 10px;
}
/* line 718, ../sass/layouts/_responsive.scss */
.slicknav_nav a:hover {
  color: black;
}

/* line 724, ../sass/layouts/_responsive.scss */
div.slicknav_menu {
  width: 100%;
  padding: 0;
  height: auto;
}

/* line 732, ../sass/layouts/_responsive.scss */
ul.slicknav_nav {
  width: 100%;
  position: relative;
}

/* line 737, ../sass/layouts/_responsive.scss */
.slicknav_nav .slicknav_row {
  padding: 15px 10px;
}

/* line 745, ../sass/layouts/_responsive.scss */
#footer-tablet {
  display: block;
}

/* line 749, ../sass/layouts/_responsive.scss */
#footer-full {
  display: none;
}

/***** Tablet Layout *******************************************************************
 * 
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * Dev code
   * TODO: Remove before production ? why? 
   */
  /* line 772, ../sass/layouts/_responsive.scss */
  #banner {
    top: 1em;
  }

  /* line 776, ../sass/layouts/_responsive.scss */
  #idm-logo-mobile h2 {
    font-size: 40px;
    line-height: 30px;
  }

  /* line 781, ../sass/layouts/_responsive.scss */
  header {
    display: initial;
  }

  /* line 785, ../sass/layouts/_responsive.scss */
  .container .outer {
    padding-top: 45%;
    /* defines aspect ratio  of banner image*/
  }

  /* line 789, ../sass/layouts/_responsive.scss */
  #content {
    padding-top: 45%;
  }

  /* line 793, ../sass/layouts/_responsive.scss */
  .inner.banner-text {
    padding-top: 30%;
  }

  /* line 797, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    font-size: 200%;
  }

  /* line 802, ../sass/layouts/_responsive.scss */
  .banner-text > h2 {
    font-size: 18px;
    line-height: 1.2em;
    padding-top: .3em;
  }

  /* line 808, ../sass/layouts/_responsive.scss */
  .desktop-display {
    display: none;
  }

  /* line 811, ../sass/layouts/_responsive.scss */
  .tablet-display {
    display: block;
  }

  /* line 814, ../sass/layouts/_responsive.scss */
  #page-title,
  #content-second {
    max-width: 90%;
  }

  /**
   *Custom mods
   */
  /* line 824, ../sass/layouts/_responsive.scss */
  #stripe-full {
    display: none;
  }

  /* line 827, ../sass/layouts/_responsive.scss */
  #stripe-tablet {
    display: block;
  }

  /* line 830, ../sass/layouts/_responsive.scss */
  #stripe-mobile {
    display: none;
  }

  /* line 835, ../sass/layouts/_responsive.scss */
  .slicknav_nav {
    background-color: #d7d7d7;
    margin-top: 115px;
  }

  /* line 842, ../sass/layouts/_responsive.scss */
  #block-superfish-1 {
    display: none;
  }

  /* line 847, ../sass/layouts/_responsive.scss */
  .front .wrapper {
    max-width: 525px;
  }

  /* line 850, ../sass/layouts/_responsive.scss */
  .header_secondary-menu {
    display: inline-block;
  }

  /* line 853, ../sass/layouts/_responsive.scss */
  .slicknav_menu {
    padding: 0 0 0 20px;
  }

  /* line 859, ../sass/layouts/_responsive.scss */
  #footer-tablet {
    display: block;
  }

  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 869, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    background-color: lightblue;
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 872, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 16.66667%;
    margin-right: 8.33333%;
    margin-left: -25%;
    background-color: orange;
  }
  /* line 879, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    background-color: green;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 889, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 891, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 16.66667%;
    margin-right: 0%;
    margin-left: -16.66667%;
  }
  /* line 896, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -25%;
  }
}
/*End of 959*/
@media all and (min-width: 480px) and (max-width: 600px) {
  /* line 906, ../sass/layouts/_responsive.scss */
  .banner-text h1 {
    font-size: 150%;
  }

  /* line 909, ../sass/layouts/_responsive.scss */
  .banner-text > h2 {
    font-size: 95%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /* line 919, ../sass/layouts/_responsive.scss */
  .slicknav_menu {
    display: none;
  }

  /* line 922, ../sass/layouts/_responsive.scss */
  #stripe-mobile {
    display: none;
  }

  /* line 925, ../sass/layouts/_responsive.scss */
  #stripe-tablet {
    display: none;
  }

  /* line 928, ../sass/layouts/_responsive.scss */
  #stripe-full {
    display: block;
  }

  /* line 931, ../sass/layouts/_responsive.scss */
  .wrapper {
    max-width: 960px;
  }

  /* line 935, ../sass/layouts/_responsive.scss */
  #stripe-full p {
    margin-top: 1.5em;
  }

  /* line 939, ../sass/layouts/_responsive.scss */
  #home-p3 {
    margin-top: 2em;
  }

  /* line 943, ../sass/layouts/_responsive.scss */
  #footer-full {
    display: block;
  }

  /* line 946, ../sass/layouts/_responsive.scss */
  #footer-tablet {
    display: none;
  }

  /* line 950, ../sass/layouts/_responsive.scss */
  #page-title,
  #content-second {
    max-width: 90%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 26, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 131, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
